@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #6035a5;
  --dark-purple: #432671;
  --basic-purple: #a78bfa;
  --text-purple: #cbaaff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color: white;
  background-color: var(--background);
}

#app {
  min-height: 100vh;
}

a,
p {
  outline: none;
  text-decoration: none;
  color: white;
  margin: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s !important;
}

::placeholder {
  color: #6035a5;
}

.error-message {
  color: red;
}

textarea {
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  height: fit-content;
  overflow: hidden;
  font-size: 24px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
